
body {
  background-color: red;
}
.top-menu {
    background-color: aqua;
    height: 45PX;
    display:flex;
    align-items: center;
}

.top-inner{
    width:1100px;
    margin:0 auto;
    display:flex;
    align-items: center;
    gap:40px;
}

.logo-box{
    width:60px;
    height:15px;
    background-color: blue;
}




.main-wrapper {
    background-color: blueviolet;
    width:1100px;
    margin:60px auto;
    padding: 60px;
    position:relative; 
}

.section {
    padding:40px 0;
    border-bottom:1px solid #9c9c9c;
}
.section:last-child{
    border-bottom:none;
}


.grid-2col {
    display:grid;
    grid-template-columns: 2fr 1fr;
    gap:40px;
    background-color: blue;
}














nav a {
    font-family: 'HelveticaNeue';
    text-decoration:none;
    display:inline-block;
    margin-right: 30px;
    color:black
}
















.Galleryname h1 {
font-size: 48px;
font-family:'Asta Sans';
margin-left: 1cm;
}

.Galleryname img {
    width: 70%;
    display: block;
    margin: 40px;
}


.Gallery-description {
    font-family:inter;
    width: 496px;
    font-size: 16px;
    margin-left: 40px;
}


.questionlogo {
    font-family: HelveticaNeue;
text-align: center;
font-size: xx-large;
}

